h1{
    font-family: HELVETICA;
    font-size: 39px;
    color: pink;
    text-align:center;
}
nav a {
    display: block;
    padding: 14px 16px;
    color:pink;
    float: right;
    background-color: honeydew;
}
nav a:hover{
    background-color: saddlebrown;
}

nav, .footerbar{
    background-color: white
    overflow hidden;
}

nav a, .footerbar a{
    display: block;
    padding: 14px 16px;
    color:black ;
    text-decoration: royalblue;
    float: inline-end;
}
p{
    padding: 25px 50px 70px 90px;
    background-color: white;
}
p{
    display: square;
    height: 20%;
    background-color: white;
    color:black;
    font-size: 60px;
    text-align: center;
}
img{
    float: left;
}
 img{
    float: left;
 }
 
 p{font-family: Arial;
    font-size: 20px;
    color:black;
    text-align:center;}